In [76]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [107]:
umsatz_csv_url = 'https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/refs/heads/main/umsatzdaten_gekuerzt.csv'
df_umsatzdaten = pd.read_csv(umsatz_csv_url)

#Einlesen von kiwo.csv
kiwo_csv_url = 'https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/refs/heads/main/kiwo.csv'
df_kiwo = pd.read_csv(kiwo_csv_url)

#Einlesen von wetter.csv
wetter_csv_url = 'https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/refs/heads/main/wetter.csv'
df_wetter = pd.read_csv(wetter_csv_url)

#Einlesen von test.csv
test_url = 'test.csv'
df_test = pd.read_csv(test_url)

# source: https://www.finanz-tools.de/inflation/inflationsraten-deutschland

In [108]:
df_umsatzdaten = df_umsatzdaten.drop("Umsatz", axis=1)
df_umsatzdaten = df_umsatzdaten.drop("Warengruppe", axis=1)

In [109]:
df_test

           id       Datum  Warengruppe
0     1808011  2018-08-01            1
1     1808021  2018-08-02            1
2     1808031  2018-08-03            1
3     1808041  2018-08-04            1
4     1808051  2018-08-05            1
...       ...         ...          ...
1825  1812226  2018-12-22            6
1826  1812236  2018-12-23            6
1827  1812246  2018-12-24            6
1828  1812276  2018-12-27            6
1829  1812286  2018-12-28            6

[1830 rows x 3 columns]

In [104]:
extended_df.to_csv('extended_csv', index=False)

In [54]:
extended_df

            id      Datum
0      1307011 2013-07-01
1      1307021 2013-07-02
2      1307031 2013-07-03
3      1307041 2013-07-04
4      1307051 2013-07-05
...        ...        ...
11519  1907312 2019-07-31
11520  1907313 2019-07-31
11521  1907314 2019-07-31
11522  1907315 2019-07-31
11523  1907316 2019-07-31

[11524 rows x 2 columns]

In [110]:
import pandas as pd

def encode_weekdays(df):
    """
    Erstellt für jeden Wochentag eine neue Spalte mit 1 oder 0,
    basierend auf dem Datum in der 'Datum'-Spalte.
    
    Parameters:
    df (pandas.DataFrame): DataFrame mit einer 'Datum'-Spalte im Format 'YYYY-MM-DD'
    
    Returns:
    pandas.DataFrame: Original DataFrame mit zusätzlichen Wochentags-Spalten
    """
    # Stelle sicher, dass die Datum-Spalte als datetime-Typ vorliegt
    df['Datum'] = pd.to_datetime(df['Datum'])
    
    # Erstelle für jeden Wochentag eine neue Spalte
    weekdays = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }
    
    for day, day_num in weekdays.items():
        df[day] = (df['Datum'].dt.dayofweek == day_num).astype(int)
    
    return df

In [111]:
df_test_codiert = encode_weekdays(df_test)

In [114]:
df_test_codiert.to_csv('test_weekday_codiert.csv',index=False)

In [115]:
df_umsatzdaten

           id       Datum
0     1307011  2013-07-01
1     1307021  2013-07-02
2     1307031  2013-07-03
3     1307041  2013-07-04
4     1307051  2013-07-05
...       ...         ...
9329  1712216  2017-12-21
9330  1712226  2017-12-22
9331  1712236  2017-12-23
9332  1712246  2017-12-24
9333  1712276  2017-12-27

[9334 rows x 2 columns]