## Variablen

In [1]:
# Zusammengeführtes Dataframe - Temperaturen
import pandas as pd
#Einlesen des Umsatz-Files
umsatz_csv_url = 'https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/refs/heads/main/umsatzdaten_gekuerzt.csv'
df_umsatzdaten = pd.read_csv(umsatz_csv_url)

#CSV-Datei laden
Temperatur_csv = "Temperatur_ohne_Umsatz.csv"
df_temperatur = pd.read_csv(Temperatur_csv)

# Sicherstellen, dass beide DataFrames die Spalte 'Datum' im gleichen Format haben
df_temperatur['Datum'] = pd.to_datetime(df_temperatur['Datum'])
df_umsatzdaten['Datum'] = pd.to_datetime(df_umsatzdaten['Datum'])


# Mergen der DataFrames auf 'Datum'
df_umsatz_temperatur_bin = df_umsatzdaten.merge(df_temperatur, on='Datum', how='left')

print(df_umsatz_temperatur_bin)

# Export des DataFrames als CSV
export_path = "temperatur_umsatz_bin.csv"
df_umsatz_temperatur_bin.to_csv(export_path, index=False)

print(f"Das DataFrame wurde erfolgreich exportiert nach: {export_path}")

          Datum  Warengruppe      Umsatz  Temperatur  Monat Jahreszeit  \
0    2013-07-01            1  148.828353     17.8375    7.0     Sommer
1    2013-07-02            1  159.793757     17.3125    7.0     Sommer
2    2013-07-03            1  111.885594     21.0750    7.0     Sommer
3    2013-07-04            1  168.864941     18.8500    7.0     Sommer
4    2013-07-05            1  171.280754     19.9750    7.0     Sommer
...         ...          ...         ...         ...    ...        ...
9329 2017-12-21            6   87.471228      6.2375   12.0     Winter
9330 2017-12-22            6   71.911652      5.7625   12.0     Winter
9331 2017-12-23            6   84.062223      7.8000   12.0     Winter
9332 2017-12-24            6   60.981969      8.1125   12.0     Winter
9333 2017-12-27            6   34.972644      4.6125   12.0     Winter

      Frühling  Sommer  Herbst  Winter  Temp_warm  Temp_cold  Temp_average
0          0.0     1.0     0.0     0.0        0.0        0.0           1.0
1          0.0     1.0     0.0     0.0        0.0        0.0           1.0
2          0.0     1.0     0.0     0.0        0.0        0.0           1.0
3          0.0     1.0     0.0     0.0        0.0        0.0           1.0
4          0.0     1.0     0.0     0.0        0.0        0.0           1.0
...        ...     ...     ...     ...        ...        ...           ...
9329       0.0     0.0     0.0     1.0        0.0        0.0           1.0
9330       0.0     0.0     0.0     1.0        0.0        0.0           1.0
9331       0.0     0.0     0.0     1.0        1.0        0.0           0.0
9332       0.0     0.0     0.0     1.0        1.0        0.0           0.0
9333       0.0     0.0     0.0     1.0        0.0        0.0           1.0

[9334 rows x 13 columns]
Das DataFrame wurde erfolgreich exportiert nach: temperatur_umsatz_bin.csv

In [2]:
#INFLATION-Datei laden
inflation_csv = "inflation.csv"
df_inflation = pd.read_csv(inflation_csv)

#HEIMSPIEL-Datei laden
heimspiel_csv = "Kiel_Heimspiele.csv"
df_heimspiele = pd.read_csv(heimspiel_csv)

#MAERKTE-Datei laden
maerkte_csv = "maekte_final.csv"
df_maerkte = pd.read_csv(maerkte_csv)

#PASSAGIERE-Datei laden
passagiere_csv = "passagiere.csv"
df_passagiere = pd.read_csv(passagiere_csv)

#TEMPERATUR-Datei laden
temperatur_csv = "Temperatur_ohne_Umsatz.csv"
df_temperatur = pd.read_csv(temperatur_csv)

#UMSATZ-Datei laden
umsatz_csv = "umsatzdaten_codiert.csv"
df_umsatz = pd.read_csv(umsatz_csv)

#FEIERTAGE/FERIEN-Datei laden
frei_csv='Ferien-Feiertage-Final.csv'
df_frei=pd.read_csv(frei_csv)

In [3]:
import pandas as pd
from datetime import datetime

# Dateien laden
inflation_csv = "inflation.csv"
heimspiel_csv = "Kiel_Heimspiele.csv"
maerkte_csv = "maekte_final.csv"
passagiere_csv = "passagiere.csv"
temperatur_csv = "Temperatur_ohne_Umsatz.csv"
umsatz_csv = "umsatzdaten_codiert.csv"
frei_csv='Ferien-Feiertage-Final.csv'

df_inflation = pd.read_csv(inflation_csv)
df_heimspiele = pd.read_csv(heimspiel_csv)
df_maerkte = pd.read_csv(maerkte_csv)
df_passagiere = pd.read_csv(passagiere_csv)
df_temperatur = pd.read_csv(temperatur_csv)
df_umsatz = pd.read_csv(umsatz_csv)
df_frei=pd.read_csv(frei_csv)

# Sicherstellen, dass "Datum" das gleiche Format hat
for df in [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei]: 
    df['Datum'] = pd.to_datetime(df['Datum'])

# Alle DataFrames iterativ mergen
dfs = [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei]
df_merged = dfs[0]

for df in dfs[1:]:
    df_merged = pd.merge(df_merged, df, on="Datum", how="outer")  # "outer" verbindet alle Daten

# Ergebnis anzeigen
print(df_merged.head())

  Datum  Inflationsrate  Heimspiel  Weihnachtsmarkt  Markt Faehrverkaehr  \
0   NaT             NaN        NaN              0.0    0.0           NaN
1   NaT             NaN        NaN              0.0    0.0           NaN
2   NaT             NaN        NaN              0.0    0.0           NaN
3   NaT             NaN        NaN              0.0    0.0           NaN
4   NaT             NaN        NaN              0.0    0.0           NaN

   Kreuzfahrverkehr  Temperatur  Monat Jahreszeit  ...  Sunday  Brot_W1  \
0               NaN         NaN    NaN        NaN  ...     NaN      NaN
1               NaN         NaN    NaN        NaN  ...     NaN      NaN
2               NaN         NaN    NaN        NaN  ...     NaN      NaN
3               NaN         NaN    NaN        NaN  ...     NaN      NaN
4               NaN         NaN    NaN        NaN  ...     NaN      NaN

   Broetchen_W2  Croissant_W3  Konditorei_W4  Kuchen_W5  Saisonbrot_W6  \
0           NaN           NaN            NaN        NaN            NaN
1           NaN           NaN            NaN        NaN            NaN
2           NaN           NaN            NaN        NaN            NaN
3           NaN           NaN            NaN        NaN            NaN
4           NaN           NaN            NaN        NaN            NaN

   Schulferien  Semesterferien Feiertage
0          NaN             NaN       NaN
1          NaN             NaN       NaN
2          NaN             NaN       NaN
3          NaN             NaN       NaN
4          NaN             NaN       NaN

[5 rows x 36 columns]

In [4]:
df_inflation.head()

       Datum  Inflationsrate
0 2013-07-01            1.53
1 2013-07-02            1.53
2 2013-07-03            1.53
3 2013-07-04            1.53
4 2013-07-05            1.53

In [5]:
df_heimspiele.head()

       Datum  Heimspiel
0 2013-01-01          0
1 2013-01-02          0
2 2013-01-03          0
3 2013-01-04          0
4 2013-01-05          0

In [6]:
df_maerkte.head()

       Datum  Weihnachtsmarkt  Markt
0 2013-01-01                0      0
1 2013-01-02                0      0
2 2013-01-03                0      0
3 2013-01-04                0      0
4 2013-01-05                0      0

In [7]:
df_passagiere.head()

       Datum Faehrverkaehr  Kreuzfahrverkehr
0 2013-07-01     1.576.718           419.447
1 2013-07-02     1.576.718           419.447
2 2013-07-03     1.576.718           419.447
3 2013-07-04     1.576.718           419.447
4 2013-07-05     1.576.718           419.447

In [8]:
df_temperatur.head()

,Datum,Temperatur,Monat,Jahreszeit,Frühling,Sommer,Herbst,Winter,Temp_warm,Temp_cold,Temp_average
0,2012-01-01,9.8250,1,Winter,0,0,0,1,1,0,0
1,2012-01-02,7.4375,1,Winter,0,0,0,1,0,0,1
2,2012-01-03,5.5375,1,Winter,0,0,0,1,0,0,1
3,2012-01-04,5.6875,1,Winter,0,0,0,1,0,0,1
4,2012-01-05,5.3000,1,Winter,0,0,0,1,0,0,1

In [9]:
df_umsatz.head()

,Datum,Warengruppe,Umsatz,Wochentag,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Brot_W1,Broetchen_W2,Croissant_W3,Konditorei_W4,Kuchen_W5,Saisonbrot_W6
0,2013-07-01,1,148.828353,Monday,1,0,0,0,0,0,0,1,0,0,0,0,0
1,2013-07-02,1,159.793757,Tuesday,0,1,0,0,0,0,0,1,0,0,0,0,0
2,2013-07-03,1,111.885594,Wednesday,0,0,1,0,0,0,0,1,0,0,0,0,0
3,2013-07-04,1,168.864941,Thursday,0,0,0,1,0,0,0,1,0,0,0,0,0
4,2013-07-05,1,171.280754,Friday,0,0,0,0,1,0,0,1,0,0,0,0,0

In [10]:
# Sicherstellen, dass "Datum" das gleiche Format hat
for df in [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz]:
    df['Datum'] = pd.to_datetime(df['Datum'])

# Filter: Daten im Zeitraum 2013-07-01 bis 2017-12-27. Müsste es nicht mindestens bis 31.7.2018 gehen für die Vorhandenen Umsatzdaten? Und für die Vorhersage dann bis 2019?
start_date = pd.Timestamp('2013-07-01')
end_date = pd.Timestamp('2019-07-31')
dfs = [df[(df['Datum'] >= start_date) & (df['Datum'] <= end_date)] for df in [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei]]

# Alle DataFrames iterativ mergen
df_merged = dfs[0]

for df in dfs[1:]:
    df_merged = pd.merge(df_merged, df, on="Datum", how="outer")  # "outer" verbindet alle Daten

# Nach Datum sortieren
df_merged.sort_values('Datum', inplace=True)

# Speichern als CSV
output_csv = "merged_data.csv"
df_merged.to_csv(output_csv, index=False)

print(f"Die Datei wurde erfolgreich unter '{output_csv}' gespeichert.")

Die Datei wurde erfolgreich unter 'merged_data.csv' gespeichert.

In [11]:
import pandas as pd

dateipfad = "merged_data.csv"  # Pfad zur CSV-Datei
df_merged_delete = pd.read_csv(dateipfad)

# Liste der Spalten, die gelöscht werden sollen
zu_loeschende_spalten = ['Brot_W1', 'Broetchen_W2','Croissant_W3','Konditorei_W4','Kuchen_W5','Saisonbrot_W6']  # Ersetze durch die tatsächlichen Spaltennamen

# Spalten löschen
df_merged_delete = df_merged_delete.drop(columns=zu_loeschende_spalten, errors='ignore')

# Geänderte CSV speichern
ausgabe_dateipfad = "merged_data_new.csv"  # Pfad zur neuen CSV-Datei
df_merged_delete.to_csv(ausgabe_dateipfad, index=False)

print("Die gewünschten Spalten wurden gelöscht und die neue Datei wurde gespeichert.")

Die gewünschten Spalten wurden gelöscht und die neue Datei wurde gespeichert.

In [12]:
#Splitting von MERGED_DATA.csv in die jeweiligen Warengruppen
#Kann bei Bedarf in das Baseline-Modell Notebook kopiert

import pandas as pd

#Laden des merged_data.csv
merged_data_csv = "merged_data.csv"
df_merged_data = pd.read_csv(merged_data_csv)

df = pd.DataFrame(df_merged_data)

#Bennenung der Warengruppne für dataframe Namen
warengruppe_namen = {
    1: 'Brot',
    2: 'Broetchen',
    3: 'Crossaint',
    4: 'Konditorei',
    5: 'Kuchen',
    6: 'Saisonbrot'
}

# DataFrames dynamisch mit Namen erstellen
for i, name in warengruppe_namen.items():
    var_name = f"df_{name}_W{i}"  # Name erstellen nach: df_Brot_W1
    globals()[var_name] = df[df['Warengruppe'] == i]

# Ergebnisse ausgeben
print("df_Brot_W1:")
print(df_Brot_W1["Warengruppe"]) #Luisa

print("df_Broetchen_W2:")
print(df_Broetchen_W2["Warengruppe"]) #Luisa

print("df_Crossaint_W3:")
print(df_Crossaint_W3["Warengruppe"]) #Nina

print("df_Konditorei_W4:")
print(df_Konditorei_W4["Warengruppe"]) #Wiebke

print("df_Kuchen_W5:")
print(df_Kuchen_W5["Warengruppe"]) #Nina

print("df_Saisonbrot_W6:")
print(df_Saisonbrot_W6["Warengruppe"]) #Wiebke

#Hier bekommt man nur die Warengruppenspalte und nicht den Rest, habe das in meinen Baseline Modellen so gemacht:
# Load the dataset 

#data1=pd.read_csv("/workspaces/DS_ML_Gr_1.5/0_DataPreparation/merged_data_new.csv")
#Warengruppe=4
#data = data1[data1['Warengruppe'] == Warengruppe]
#print (data.head())

df_Brot_W1:
0       1.0
8       1.0
10      1.0
18      1.0
20      1.0
       ...
9347    1.0
9356    1.0
9357    1.0
9365    1.0
9368    1.0
Name: Warengruppe, Length: 1819, dtype: float64
df_Broetchen_W2:
1       2.0
9       2.0
11      2.0
19      2.0
21      2.0
       ...
9348    2.0
9355    2.0
9358    2.0
9364    2.0
9369    2.0
Name: Warengruppe, Length: 1819, dtype: float64
df_Crossaint_W3:
2       3.0
6       3.0
12      3.0
16      3.0
22      3.0
       ...
9349    3.0
9354    3.0
9359    3.0
9366    3.0
9370    3.0
Name: Warengruppe, Length: 1819, dtype: float64
df_Konditorei_W4:
3       4.0
7       4.0
13      4.0
17      4.0
23      4.0
       ...
9350    4.0
9353    4.0
9360    4.0
9363    4.0
9371    4.0
Name: Warengruppe, Length: 1766, dtype: float64
df_Kuchen_W5:
4       5.0
5       5.0
14      5.0
15      5.0
24      5.0
       ...
9351    5.0
9352    5.0
9361    5.0
9362    5.0
9367    5.0
Name: Warengruppe, Length: 1819, dtype: float64
df_Saisonbrot_W6:
567     6.0
578     6.0
584     6.0
585     6.0
596     6.0
       ...
8276    6.0
8284    6.0
8293    6.0
8294    6.0
8302    6.0
Name: Warengruppe, Length: 292, dtype: float64