## Variablen

### CSV-Dateien laden

In [8]:
import pandas as pd

#INFLATION-Datei laden
inflation_csv = "inflation.csv"
df_inflation = pd.read_csv(inflation_csv)

#HEIMSPIEL-Datei laden
heimspiel_csv = "Kiel_Heimspiele.csv"
df_heimspiele = pd.read_csv(heimspiel_csv)

#MAERKTE-Datei laden
maerkte_csv = "maekte_final.csv"
df_maerkte = pd.read_csv(maerkte_csv)

#PASSAGIERE-Datei laden
passagiere_csv = "passagiere.csv"
df_passagiere = pd.read_csv(passagiere_csv)

#TEMPERATUR-Datei laden
temperatur_csv = "Temperatur_ohne_Umsatz.csv"
df_temperatur = pd.read_csv(temperatur_csv)

#UMSATZ-Datei laden
umsatz_csv = "umsatzdaten_codiert.csv"
df_umsatz = pd.read_csv(umsatz_csv)

#FEIERTAGE/FERIEN-Datei laden
frei_csv='Ferien-Feiertage-Final.csv'
df_frei=pd.read_csv(frei_csv)

#WETTER-Datei laden
wetter_csv='Wetter-Final.csv'
df_wetter=pd.read_csv(wetter_csv)

#KIWO-Datei laden
kiwo_csv='kiwo.csv'
df_kiwo=pd.read_csv(kiwo_csv)

### Code

In [11]:
# Sicherstellen, dass "Datum" das gleiche Format hat
for df in [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei, df_wetter, df_kiwo]:
    df['Datum'] = pd.to_datetime(df['Datum'])

# Filter: Daten im Zeitraum 2013-07-01 bis 2019-07-31.
start_date = pd.Timestamp('2013-07-01')
end_date = pd.Timestamp('2019-07-31')
dfs = [df[(df['Datum'] >= start_date) & (df['Datum'] <= end_date)] for df in [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei,df_wetter, df_kiwo]]

# Alle DataFrames iterativ mergen
df_merged = dfs[0]

for df in dfs[1:]:
    df_merged = pd.merge(df_merged, df, on="Datum", how="outer")  # "outer" verbindet alle Daten

# Nach Datum sortieren
df_merged.sort_values('Datum', inplace=True)

# Liste der Spalten, die gelöscht werden sollen
zu_loeschende_spalten = ['Brot_W1', 'Broetchen_W2','Croissant_W3','Konditorei_W4','Kuchen_W5','Saisonbrot_W6']

# Spalten löschen
df_merged= df_merged.drop(columns=zu_loeschende_spalten, errors='ignore')

# Speichern als CSV
output_csv = "/workspaces/DS_ML_Gr_1.5/2_BaselineModel/merged_data_new.csv"
df_merged.to_csv(output_csv, index=False)

print(df_merged.head())

print(f"Die Datei wurde erfolgreich unter '{output_csv}' gespeichert.")

       Datum  Inflationsrate  Heimspiel  Weihnachtsmarkt  Markt Faehrverkaehr  \
0 2013-07-01            1.53          0                0      0     1.576.718
1 2013-07-01            1.53          0                0      0     1.576.718
2 2013-07-01            1.53          0                0      0     1.576.718
3 2013-07-01            1.53          0                0      0     1.576.718
4 2013-07-01            1.53          0                0      0     1.576.718

   Kreuzfahrverkehr  Temperatur  Monat Jahreszeit  ...  Feiertage  \
0           419.447     17.8375    7.0     Sommer  ...        0.0
1           419.447     17.8375    7.0     Sommer  ...        0.0
2           419.447     17.8375    7.0     Sommer  ...        0.0
3           419.447     17.8375    7.0     Sommer  ...        0.0
4           419.447     17.8375    7.0     Sommer  ...        0.0

   Sonnenaufgang  Sonnenuntergang  Tageslaenge  Niederschlag (l/m^2)  \
0        4:50:12         21:56:46     17:06:34                   0.3
1        4:50:12         21:56:46     17:06:34                   0.3
2        4:50:12         21:56:46     17:06:34                   0.3
3        4:50:12         21:56:46     17:06:34                   0.3
4        4:50:12         21:56:46     17:06:34                   0.3

   Sonnenschein (h)  Schneehoehe (cm)  Sonnenschein (%)  \
0                 6                 -          0.350877
1                 6                 -          0.350877
2                 6                 -          0.350877
3                 6                 -          0.350877
4                 6                 -          0.350877

   Tageslaenge (dezimal) KielerWoche
0                   17.1         NaN
1                   17.1         NaN
2                   17.1         NaN
3                   17.1         NaN
4                   17.1         NaN

[5 rows x 39 columns]
Die Datei wurde erfolgreich unter '/workspaces/DS_ML_Gr_1.5/2_BaselineModel/merged_data_new.csv' gespeichert.

#### Zu Löschen?? (oder ins Archiv (hier unten))

In [ ]:
import pandas as pd
from datetime import datetime

# Dateien laden
inflation_csv = "inflation.csv"
heimspiel_csv = "Kiel_Heimspiele.csv"
maerkte_csv = "maekte_final.csv"
passagiere_csv = "passagiere.csv"
temperatur_csv = "Temperatur_ohne_Umsatz.csv"
umsatz_csv = "umsatzdaten_codiert.csv"
frei_csv='Ferien-Feiertage-Final.csv'
wetter_csv='Wetter-Final.csv'
kiwo_csv='kiwo.csv'

df_inflation = pd.read_csv(inflation_csv)
df_heimspiele = pd.read_csv(heimspiel_csv)
df_maerkte = pd.read_csv(maerkte_csv)
df_passagiere = pd.read_csv(passagiere_csv)
df_temperatur = pd.read_csv(temperatur_csv)
df_umsatz = pd.read_csv(umsatz_csv)
df_frei=pd.read_csv(frei_csv)
df_wetter=pd.read_csv(wetter_csv)

# Sicherstellen, dass "Datum" das gleiche Format hat
for df in [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei,df_wetter]: 
    df['Datum'] = pd.to_datetime(df['Datum'])

# Alle DataFrames iterativ mergen
dfs = [df_inflation, df_heimspiele, df_maerkte, df_passagiere, df_temperatur, df_umsatz,df_frei,df_wetter]
df_merged = dfs[0]

for df in dfs[1:]:
    df_merged = pd.merge(df_merged, df, on="Datum", how="outer")  # "outer" verbindet alle Daten

# Ergebnis anzeigen
print(df_merged.head())

  Datum  Inflationsrate  Heimspiel  Weihnachtsmarkt  Markt Faehrverkaehr  \
0   NaT             NaN        NaN              0.0    0.0           NaN
1   NaT             NaN        NaN              0.0    0.0           NaN
2   NaT             NaN        NaN              0.0    0.0           NaN
3   NaT             NaN        NaN              0.0    0.0           NaN
4   NaT             NaN        NaN              0.0    0.0           NaN

   Kreuzfahrverkehr  Temperatur  Monat Jahreszeit  ...  Semesterferien  \
0               NaN         NaN    NaN        NaN  ...             NaN
1               NaN         NaN    NaN        NaN  ...             NaN
2               NaN         NaN    NaN        NaN  ...             NaN
3               NaN         NaN    NaN        NaN  ...             NaN
4               NaN         NaN    NaN        NaN  ...             NaN

   Feiertage  Sonnenaufgang  Sonnenuntergang  Tageslaenge  \
0        NaN            NaN              NaN          NaN
1        NaN            NaN              NaN          NaN
2        NaN            NaN              NaN          NaN
3        NaN            NaN              NaN          NaN
4        NaN            NaN              NaN          NaN

   Niederschlag (l/m^2)  Sonnenschein (h)  Schneehoehe (cm)  Sonnenschein (%)  \
0                   NaN               NaN               NaN               NaN
1                   NaN               NaN               NaN               NaN
2                   NaN               NaN               NaN               NaN
3                   NaN               NaN               NaN               NaN
4                   NaN               NaN               NaN               NaN

  Tageslaenge (dezimal)
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 44 columns]

### Temperatur

In [7]:
# Zusammengeführtes Dataframe - Temperaturen
import pandas as pd
#Einlesen des Umsatz-Files
umsatz_csv_url = 'https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/refs/heads/main/umsatzdaten_gekuerzt.csv'
df_umsatzdaten = pd.read_csv(umsatz_csv_url)

#CSV-Datei laden
Temperatur_csv = "Temperatur_ohne_Umsatz.csv"
df_temperatur = pd.read_csv(Temperatur_csv)

# Sicherstellen, dass beide DataFrames die Spalte 'Datum' im gleichen Format haben
df_temperatur['Datum'] = pd.to_datetime(df_temperatur['Datum'])
df_umsatzdaten['Datum'] = pd.to_datetime(df_umsatzdaten['Datum'])


# Mergen der DataFrames auf 'Datum'
df_umsatz_temperatur_bin = df_umsatzdaten.merge(df_temperatur, on='Datum', how='left')

print(df_umsatz_temperatur_bin)

# Export des DataFrames als CSV
export_path = "temperatur_umsatz_bin.csv"
df_umsatz_temperatur_bin.to_csv(export_path, index=False)

print(f"Das DataFrame wurde erfolgreich exportiert nach: {export_path}")

           id      Datum  Warengruppe      Umsatz  Temperatur  Monat  \
0     1307011 2013-07-01            1  148.828353     17.8375    7.0
1     1307021 2013-07-02            1  159.793757     17.3125    7.0
2     1307031 2013-07-03            1  111.885594     21.0750    7.0
3     1307041 2013-07-04            1  168.864941     18.8500    7.0
4     1307051 2013-07-05            1  171.280754     19.9750    7.0
...       ...        ...          ...         ...         ...    ...
9329  1712216 2017-12-21            6   87.471228      6.2375   12.0
9330  1712226 2017-12-22            6   71.911652      5.7625   12.0
9331  1712236 2017-12-23            6   84.062223      7.8000   12.0
9332  1712246 2017-12-24            6   60.981969      8.1125   12.0
9333  1712276 2017-12-27            6   34.972644      4.6125   12.0

     Jahreszeit  Frühling  Sommer  Herbst  Winter  Temp_warm  Temp_cold  \
0        Sommer       0.0     1.0     0.0     0.0        0.0        0.0
1        Sommer       0.0     1.0     0.0     0.0        0.0        0.0
2        Sommer       0.0     1.0     0.0     0.0        0.0        0.0
3        Sommer       0.0     1.0     0.0     0.0        0.0        0.0
4        Sommer       0.0     1.0     0.0     0.0        0.0        0.0
...         ...       ...     ...     ...     ...        ...        ...
9329     Winter       0.0     0.0     0.0     1.0        0.0        0.0
9330     Winter       0.0     0.0     0.0     1.0        0.0        0.0
9331     Winter       0.0     0.0     0.0     1.0        1.0        0.0
9332     Winter       0.0     0.0     0.0     1.0        1.0        0.0
9333     Winter       0.0     0.0     0.0     1.0        0.0        0.0

      Temp_average
0              1.0
1              1.0
2              1.0
3              1.0
4              1.0
...            ...
9329           1.0
9330           1.0
9331           0.0
9332           0.0
9333           1.0

[9334 rows x 14 columns]
Das DataFrame wurde erfolgreich exportiert nach: temperatur_umsatz_bin.csv

### Wochentage

In [5]:
import pandas as pd
#FEIERTAGE/FERIEN-Datei laden
test_codiert='test_weekday_codiert.csv'
df_test_codiert=pd.read_csv(test_codiert)

#FEIERTAGE/FERIEN-Datei laden
merged_data_new='merged_data_new.csv'
df_merged_new=pd.read_csv(merged_data_new)

df_date = df_merged_new[["Datum"]]

df_merged_dropped = df_merged_new.drop(["Wochentag","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"], axis=1)


#df_test_merged_all = df_merged_new.merge(df_test_codiert, on='Datum', how='left')

In [6]:
def encode_weekdays(df):
    """
    Erstellt für jeden Wochentag eine neue Spalte mit 1 oder 0,
    basierend auf dem Datum in der 'Datum'-Spalte.
    
    Parameters:
    df (pandas.DataFrame): DataFrame mit einer 'Datum'-Spalte im Format 'YYYY-MM-DD'
    
    Returns:
    pandas.DataFrame: Original DataFrame mit zusätzlichen Wochentags-Spalten
    """
    # Stelle sicher, dass die Datum-Spalte als datetime-Typ vorliegt
    df['Datum'] = pd.to_datetime(df['Datum'])
    
    # Erstelle für jeden Wochentag eine neue Spalte
    weekdays = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }
    
    for day, day_num in weekdays.items():
        df[day] = (df['Datum'].dt.dayofweek == day_num).astype(int)
    
    return df

In [7]:
df_all_codiert = encode_weekdays(df_merged_dropped)

### Kontrollen

In [8]:
print(df_all_codiert.columns)

Index(['Datum', 'Inflationsrate', 'Heimspiel', 'Weihnachtsmarkt', 'Markt',
       'Faehrverkaehr', 'Kreuzfahrverkehr', 'Temperatur', 'Monat',
       'Jahreszeit', 'Frühling', 'Sommer', 'Herbst', 'Winter', 'Temp_warm',
       'Temp_cold', 'Temp_average', 'Warengruppe', 'Umsatz', 'Schulferien',
       'Semesterferien', 'Feiertage', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday'],
      dtype='object')

In [9]:
df_all_codiert.to_csv('merged_data_all_codiert.csv',index=False)

In [10]:
df_all_codiert

,Datum,Inflationsrate,Heimspiel,Weihnachtsmarkt,Markt,Faehrverkaehr,Kreuzfahrverkehr,Temperatur,Monat,Jahreszeit,...,Schulferien,Semesterferien,Feiertage,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,2013-07-01,1.53,0,0,0,1.576.718,419.447,17.8375,7.0,Sommer,...,1.0,1.0,0.0,1,0,0,0,0,0,0
1,2013-07-01,1.53,0,0,0,1.576.718,419.447,17.8375,7.0,Sommer,...,1.0,1.0,0.0,1,0,0,0,0,0,0
2,2013-07-01,1.53,0,0,0,1.576.718,419.447,17.8375,7.0,Sommer,...,1.0,1.0,0.0,1,0,0,0,0,0,0
3,2013-07-01,1.53,0,0,0,1.576.718,419.447,17.8375,7.0,Sommer,...,1.0,1.0,0.0,1,0,0,0,0,0,0
4,2013-07-01,1.53,0,0,0,1.576.718,419.447,17.8375,7.0,Sommer,...,1.0,1.0,0.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9732,2019-07-27,NaN,1,0,0,NaN,NaN,23.5375,7.0,Sommer,...,1.0,1.0,0.0,0,0,0,0,0,1,0
9733,2019-07-28,NaN,0,0,0,NaN,NaN,23.3500,7.0,Sommer,...,1.0,1.0,0.0,0,0,0,0,0,0,1
9734,2019-07-29,NaN,0,0,0,NaN,NaN,25.2500,7.0,Sommer,...,1.0,1.0,0.0,1,0,0,0,0,0,0
9735,2019-07-30,NaN,0,0,0,NaN,NaN,20.7375,7.0,Sommer,...,1.0,1.0,0.0,0,1,0,0,0,0,0
9736,2019-07-31,NaN,0,0,0,NaN,NaN,20.4500,7.0,Sommer,...,1.0,1.0,0.0,0,0,1,0,0,0,0

In [11]:

df_all_codiert['Umsatz']

0       148.828353
1       535.856285
2       201.198426
3        65.890169
4       317.475875
           ...
9732           NaN
9733           NaN
9734           NaN
9735           NaN
9736           NaN
Name: Umsatz, Length: 9737, dtype: float64

In [13]:
df_inflation.head()

       Datum  Inflationsrate
0 2013-07-01            1.53
1 2013-07-02            1.53
2 2013-07-03            1.53
3 2013-07-04            1.53
4 2013-07-05            1.53

In [14]:
df_heimspiele.head()

       Datum  Heimspiel
0 2013-01-01          0
1 2013-01-02          0
2 2013-01-03          0
3 2013-01-04          0
4 2013-01-05          0

In [15]:
df_maerkte.head()

       Datum  Weihnachtsmarkt  Markt
0 2013-01-01                0      0
1 2013-01-02                0      0
2 2013-01-03                0      0
3 2013-01-04                0      0
4 2013-01-05                0      0

In [16]:
df_passagiere.head()

       Datum Faehrverkaehr  Kreuzfahrverkehr
0 2013-07-01     1.576.718           419.447
1 2013-07-02     1.576.718           419.447
2 2013-07-03     1.576.718           419.447
3 2013-07-04     1.576.718           419.447
4 2013-07-05     1.576.718           419.447

In [17]:
df_temperatur.head()

,Datum,Temperatur,Monat,Jahreszeit,Frühling,Sommer,Herbst,Winter,Temp_warm,Temp_cold,Temp_average
0,2012-01-01,9.8250,1,Winter,0,0,0,1,1,0,0
1,2012-01-02,7.4375,1,Winter,0,0,0,1,0,0,1
2,2012-01-03,5.5375,1,Winter,0,0,0,1,0,0,1
3,2012-01-04,5.6875,1,Winter,0,0,0,1,0,0,1
4,2012-01-05,5.3000,1,Winter,0,0,0,1,0,0,1

In [18]:
df_umsatz.head()

,Datum,Warengruppe,Umsatz,Wochentag,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Brot_W1,Broetchen_W2,Croissant_W3,Konditorei_W4,Kuchen_W5,Saisonbrot_W6
0,2013-07-01,1,148.828353,Monday,1,0,0,0,0,0,0,1,0,0,0,0,0
1,2013-07-02,1,159.793757,Tuesday,0,1,0,0,0,0,0,1,0,0,0,0,0
2,2013-07-03,1,111.885594,Wednesday,0,0,1,0,0,0,0,1,0,0,0,0,0
3,2013-07-04,1,168.864941,Thursday,0,0,0,1,0,0,0,1,0,0,0,0,0
4,2013-07-05,1,171.280754,Friday,0,0,0,0,1,0,0,1,0,0,0,0,0

## Archiv